#card{
    color: var(--orange);
    background-color: var(--marron);
    transition: 0.4s;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    animation: card ease 0.8s;
}
@keyframes card {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
#card:hover{
    transform: scale(1.05);
}
.btnCard{
    color: var(--orange);
    border: none;
    border-radius: 5px;
    height: 40px;
    font-family: droidserif, arial;
}
.btnCard:hover{
    transition: 0.5s;
    transform: scale(1.05);
}
.addRemProduit{
    background-color: var(--jaune);
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    font-size: large;
    font-weight: 600;
}
.addRemProduit:hover{
    transition: 0.4s;
    transform: scale(1.1);
}