#card{
    color: var(--orange);
    background-color: var(--marron);
    transition: 0.4s;
    text-decoration: none;
}
#card:hover{
    transform: scale(1.05);
}
.btnCard{
    color: var(--orange);
    border: none;
    border-radius: 5px;
    height: 40px;
    font-family: droidserif, arial;
}
.btnCard:hover{
    transition: 0.5s;
    transform: scale(1.05);
}
.addRemProduit{
    background-color: var(--jaune);
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    font-size: large;
    font-weight: 600;
}